<app-navbar></app-navbar>
<div class="container1">
  <button (click)="openDialog()" class="addUserButton">Add Task</button>

  <table class="tableGrid">
    <thead class="tableHead">
      <tr>
        <th>Task No.</th>
        <th>Task Name</th>
        <th>Task Description</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th *ngIf="isAdminLoggedIn">User Name</th>
        <th *ngIf="isAdminLoggedIn">Action</th>
      </tr>
    </thead>
    <tbody class="tableData">
      <tr *ngFor="let task of tasks ; let i =index">
        <td>{{ i +1 }}</td>
        <td>{{ task.taskName }}</td>
        <td>{{ task.taskDescription }}</td>
        <td>{{ task.taskStartTime | date:'yyyy-MM-dd' }}</td>
        <td>{{ task.taskEndTime | date:'yyyy-MM-dd' }}</td>
        <td *ngIf="isAdminLoggedIn">{{task.userName}}</td>
        <td *ngIf="isAdminLoggedIn">
          <button (click)="editTask(task)" class="edit-button custom-button">
            <mat-icon>edit</mat-icon>
          </button>
          <button (click)="deleteTask(task.id)" class="delete-button custom-button">
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>