/* Add this CSS to your styles.css (or styles.scss) file */

.container1 {
  margin: 20px;
}

.tableGrid {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 8px;
}

.tableHead,
.tableData {
  background-color: #cbdae4;
  color: #000000;
}

.tableHead th,
.tableData td {
  padding: 15px;
  text-align: left;
  border: 1px solid #2980b9; /* Add border to create lines around each cell */
}

.tableData td {
  transition: background 0.3s;
}


.tableData tr:hover {
  background-color: #3498db;
  color: #fff;
}

.addUserButton {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  margin-bottom: 20px;
}

.addUserButton:hover {
  background-color: #34495e;
}

.custom-button {
  background-color: #2980b9;
  color: #fff;
  border: none;
  padding: 8px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 4px;
  transition: background 0.3s;
}

.custom-button:hover {
  background-color: #34495e;
}

/* Optional: Add a subtle box-shadow to buttons for a 3D effect */
.custom-button:active {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
