<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div class="form-group" [ngClass]="{'has-error': loginForm.get('useremail')?.hasError('required') && loginForm.get('useremail')?.touched}">
      <label for="email">Email:
        <span class="required-asterisk" *ngIf="loginForm.get('useremail')?.hasError('required') && loginForm.get('useremail')?.touched">*</span>
      <span class="required-asterisk" *ngIf="loginForm.get('useremail')?.hasError('useremail') && !loginForm.get('useremail')?.hasError('required') && loginForm.get('email')?.touched">*</span>
    </label>
      <input type="email" id="useremail" formControlName="useremail" required>
      <div *ngIf="loginForm.get('useremail')?.hasError('required') && loginForm.get('useremail')?.touched"
        class="error-message">
        Email is required
      </div>
      <div
        *ngIf="loginForm.get('useremail')?.hasError('email') && !loginForm.get('useremail')?.hasError('required') && loginForm.get('useremail')?.touched"
        class="error-message">
        Invalid email format
      </div>
    </div>
    <div class="form-group" [ngClass]="{'has-error': loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched}">
      <label for="password">Password:
        <span class="required-asterisk"
          *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched">*</span>
      </label>
      <input type="password" id="password" formControlName="password" required>
      <div *ngIf="loginForm.get('password')?.hasError('required') && loginForm.get('password')?.touched"
        class="error-message">
        Password is required
      </div>
      <div class="error-message">
        {{errorMessage}}
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid">Login</button>
    <hr>
    ----------------------Don't have an account------------------------

    <div class="center">
      <button routerLink="/signUp">SignUp</button>
    </div>


  </form>
</div>