<h2 mat-dialog-title>Edit task</h2>
<div mat-dialog-content [formGroup]="updateDetails">
  <mat-form-field>
    <mat-label>Task Name</mat-label>
    <input matInput formControlName="taskName" id="taskName" />
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput formControlName="taskDescription" id="taskDescription" ></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Start Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="taskStartTime" id="taskStartTime" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field>
    <mat-label>End Date</mat-label>
    <input matInput [matDatepicker]="endPicker" formControlName="taskEndTime" id="taskEndTime" />
    <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
    <mat-datepicker #endPicker></mat-datepicker>
  </mat-form-field>
  <mat-form-field *ngIf="isAdminLoggedIn">
    <mat-label>User Name</mat-label>
    <mat-select formControlName="userName" id="userName">
      <mat-option *ngFor="let user of users" [value]="user.value">
        {{ user.viewValue }}
      </mat-option>
    </mat-select>
  </mat-form-field>  
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onCancelClick()">Cancel</button>
  <button mat-button (click)="onSaveClick(updateDetails.value)">Save</button>
</div>