/* Container styles */
/* Navigation styles */


/* Content styles */
.container1 {
  margin: 70px 70px 0px 70px;
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.301);
}

/* Button styles */
.addUserButton {
  background-color: #27ae60;
  color: #fff;
  padding: 5px;
  font-size: 16px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.addUserButton:hover {
  background-color: #4de694;
  
}

/* Grid styles (adjust as needed) */
kendo-grid {
  width: 100%;
  margin-top: 20px;
}

/* Customize as needed for your application */
/* Custom button styles */
.custom-button {
  font-size: 20px;
  text-align: center;
  margin-right: 5px;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid #3498db;
  color: #4b4b4b;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.custom-button:hover {
  background-color: #3498db;
  color: #242222;
}

.edit-button{
  background-color: #78b7f1;
  border-color: #78b7f1;
}
.delete-button {
  background-color: #78b7f1;
  border-color: #78b7f1;
}

.edit-button:hover {
  background-color: #4491da;
}

.delete-button:hover {
  background-color: #4491da;
}

/* Table styles */
.tableGrid {
  width: 100%;
  border-collapse: collapse;
}

.tableHead {
  background-color: #3498db;
  color: #ffffff;
}

.tableData tr:nth-child(even) {
  background-color: #f2f2f2;
}

.tableData tr:hover {
  background-color: #e0e0e0;
}

.tableGrid th,
.tableGrid td {
  padding: 10px;
  text-align: left;
  border: 1px solid #dddddd;
}
