<app-navbar></app-navbar>
<div class="page">
  <div class="dialog-content" [formGroup]="userTasks">
    <mat-form-field class="form-field">
      <mat-label>User Name</mat-label>
      <input matInput formControlName="userName" id="userName" />
    </mat-form-field>
    <button type="submit" class="show-grid-button" (click)="getUserTasks(userTasks.value.userName)">Show Grid</button>
  </div>

  <div class="grid-container" *ngIf="dataCame">
    <table class="tableGrid">
      <thead class="tableHead">
        <tr>
          <th>Task No.</th>
          <th>Task Name</th>
          <th>Task Description</th>
          <th>Start Time</th>
          <th>End Time</th>
          <th>User Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody class="tableData">
        <tr *ngFor="let task of userTasksDetails; let i = index" class="tableRow">
          <td>{{ i + 1 }}</td>
          <td>{{ task.taskName }}</td>
          <td>{{ task.taskDescription }}</td>
          <td>{{ task.taskStartTime | date:'yyyy-MM-dd' }}</td>
          <td>{{ task.taskEndTime | date:'yyyy-MM-dd' }}</td>
          <td>{{ task.userName }}</td>
          <td>
            <button (click)="editTask(task)" class="edit-button custom-button">
              <mat-icon>edit</mat-icon>
            </button>
            <button (click)="deleteTask(task.id)" class="delete-button custom-button">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

</div>