.container1{
  background-image: url("https://st3.depositphotos.com/1092019/14738/i/450/depositphotos_147389093-stock-photo-productivity-increase-drawn-on-brick.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
}