<div class="signup-container">
  <h2>Sign Up</h2>
  <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">User Name:</label>
      <input type="text" id="userName" formControlName="userName" required>
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
    </div>
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
    </div>
    <button type="submit">Sign Up</button>


    <div class="center">
      <br>
      Already have an account<br>
      <button routerLink="/login">Log In</button>
    </div>
  </form>
</div>